*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 30px;
    font-weight: bold;
}

h3{
    font-size: 18px;
}